<div class="footer-seo">
  <a href="/web-design-hong-kong">Web Design Hong Kong</a>
  <a href="/mobile-app-development-hong-kong">Mobile App Development Hong Kong</a>
  <a href="/web-design-singapore">Web Design Singapore</a>
  <a href="/mobile-app-development-singapore">Mobile App Development Singapore</a>
</div>
