<nav class="nav-icon"><span></span></nav>
<nav id="nav-full">
  <div class="menu-container">
    <ul>
      <li class="{{#if activeIndex }}active{{/if}}"><a href="/">Home</a></li>
      <li class="{{#if activeServices }}active{{/if}}"><a href="/services">About us</a></li>
      <li class="{{#if activeTeam }}active{{/if}}"><a href="/team">Our Team</a></li>
      <li class="{{#if activeBlog }}active{{/if}}"><a href="/blog">Blog</a></li>
      <li class="{{#if activeCareers }}active{{/if}}"><a href="/careers">Careers</a></li>
      <li class="{{#if activeContact }}active{{/if}}"><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
<nav class="nav-icon float"><span></span></nav>
