<nav class="nav">
    <div class="logo"><a href="/"><img src="{{ baseUrl }}/img/altitude-logo-v2-white.png" alt="Altitude Labs: Web Design & Mobile Development"></a></div>
    <div class="clear"></div>
</nav>
<nav class="nav-float">
    <div class="logo"><a href="/"><img src="{{ baseUrl }}/img/altitude-logo-v2-white.png" alt="Altitude Labs: Web Design & Mobile Development"></a></div>

</nav>
